*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(250, 238, 213);
    background-image: url(./assets/misfit.jpg);
    background-size: cover;
    background-position: center;
}


li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
}

.logo{
    height: 50px;
    width: 200px;
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 10px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(9, 131, 2);
    
}


button{
    background-color: rgba(255,165,0,0.5);
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: bold;
    outline-style: solid;
    outline-color: black;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


button:hover{
    background-color: rgba(9, 131, 2, 0.5);
}


.text{
    margin-left: 120px;
    margin-top: 80px;
}

.text h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(41, 40, 40);
}

.text p{
    font-size: 1rem;
    color: rgb(62, 61, 61);
}


.fa-regular{
    color: red;
}
